openapi: 3.0.3
info:
  title: Class 2 Maternity Allowance Receipts
  description: |-
    # Usage Terms
    These interfaces are business-critical interfaces for HMRC and DWP, supporting thousands of staff - all consumption, or change in consumption levels, should be registered and fully approved (see Registered Consumers below).
  version: 0.0.2 Draft
  x-integration-catalogue:
    reviewed-date: 2026-01-13T16:47:25Z
    short-description: Class 2 Maternity Allowance Receipts
    status: ALPHA
    api-type: SIMPLE
    platform: HIP
    backends:
      - NI
    domain: 1
    sub-domain: 1.5
servers:
  - url: https://api.ipaas.prod.eis.ns2p.corp.hmrc.gov.uk/ni
    description: Corporate - Production
  - url: https://api.ipaas.preprod.eis.ns2p.corp.hmrc.gov.uk/ni
    description: Corporate – Pre-Production
  - url: https://api.ipaas.test.eis.ns2n.corp.hmrc.gov.uk/ni
    description: Corporate - Test
  - url: https://hip.ws.hmrc.gov.uk/ni
    description: MDTP - Production
  - url: https://hip.ws.ibt.hmrc.gov.uk/ni
    description: MDTP - QA
security:
  - oAuth2:
      - read:class-2-ma-receipts
paths:
  /class-2/{identifier}/maternity-allowance/receipts:
    get:
      tags: []
      summary: Retrieve Class 2 Maternity Allowance Receipts
      description: |-
        # Purpose
        This API provides the capability to retrieve class 2 Maternity Allowance Receipts.<br>
        ## Version Log
        | Version | Date | Author | Description |
        |---------|------|--------|-------------|
        | 0.0.1 | 04/12/2025 | NPS Development Team  | Initial Draft  |
        | 0.0.2 | 13/01/2026 | NPS Development Team  | Added examples|
      operationId: getClass2MAReceipts
      parameters:
        - $ref: '#/components/parameters/correlationId'
        - $ref: '#/components/parameters/govUkOriginatorId'
        - $ref: '#/components/parameters/govUkOrganisationId'
        - $ref: '#/components/parameters/govUkUserId'
        - $ref: '#/components/parameters/govUkUserName'
        - $ref: '#/components/parameters/govUkJobRole'
        - $ref: '#/components/parameters/Identifier'
        - $ref: '#/components/parameters/Archived'
        - $ref: '#/components/parameters/ReceiptDate'
        - $ref: '#/components/parameters/SortBy'
      responses:
        "200":
          description: Successful Response
          headers:
            correlationId:
              $ref: '#/components/headers/correlationId'
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/GetClass2MAReceiptsResponse'
              examples:
                minimallyPopulatedResponse:
                  summary: Minimally populated response. No Class 2 MA receipts recorded.
                  value:
                    identifier: AA000003A
                    class2MAReceiptDetails: []
                exampleSingleOpenReceipt:
                  summary: One open receipt
                  value:
                    identifier: AA000002A
                    class2MAReceiptDetails:
                      - initials: AB
                        surname: Johnson
                        receivablePeriodStartDate: 2025-01-01
                        receivablePeriodEndDate: 2025-03-31
                        receivablePayment: 145.0
                        receiptDate: 2025-03-31
                        liabilityStartDate: 2025-01-01
                        liabilityEndDate: 2025-03-31
                        billAmount: 145.0
                        billScheduleNumber: 1001
                        isClosedRecord: false
                        weeksPaid: 13
                maximallyPopulatedResponse:
                  summary: Maximally populated response
                  value:
                    identifier: AA000001A
                    class2MAReceiptDetails:
                      - initials: CD
                        surname: Smith
                        receivablePeriodStartDate: 2024-04-06
                        receivablePeriodEndDate: 2024-07-05
                        receivablePayment: 156.0
                        receiptDate: 2024-07-05
                        liabilityStartDate: 2024-04-06
                        liabilityEndDate: 2024-07-05
                        billAmount: 156.0
                        billScheduleNumber: 2002
                        isClosedRecord: true
                        weeksPaid: 13
                      - initials: CD
                        surname: Smith
                        receivablePeriodStartDate: 2023-04-06
                        receivablePeriodEndDate: 2023-07-05
                        receivablePayment: 156.0
                        receiptDate: 2023-07-05
                        liabilityStartDate: 2023-04-06
                        liabilityEndDate: 2023-07-05
                        billAmount: 156.0
                        billScheduleNumber: 2003
                        isClosedRecord: true
                        weeksPaid: 13
        "400":
          description: Bad Request
          headers:
            correlationId:
              $ref: '#/components/headers/correlationId'
          content:
            application/json;charset=UTF-8:
              schema:
                required:
                  - origin
                  - response
                type: object
                properties:
                  origin:
                    $ref: '#/components/schemas/HIP-originEnum'
                  response:
                    oneOf:
                      - $ref: '#/components/schemas/HIP-failureResponse'
                      - $ref: '#/components/schemas/errorResponse_400'
                additionalProperties: false
              examples:
                Actual_Response:
                  value:
                    origin: HoD
                    response:
                      failures:
                        - reason: HTTP message not readable
                          code: "400.2"
                        - reason: "Constraint violation: Invalid/Missing input parameter:\
                          \ <parameter>"
                          code: "400.1"
                HIP-originResponse:
                  description: HIP-originResponse
                  value:
                    origin: HIP
                    response:
                      - type: Type of Failure
                        reason: Reason for Failure
        "403":
          description: 'Forbidden '
          headers:
            correlationId:
              $ref: '#/components/headers/correlationId'
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/errorResponse_403'
              examples:
                Actual_Response:
                  value:
                    reason: Forbidden
                    code: "403.2"
        "404":
          $ref: '#/components/responses/notFoundErrorResponse'
        "500":
          $ref: '#/components/responses/internalServerErrorResponse'
        "422":
          description: Unprocessable Entity
          headers:
            correlationId:
              $ref: '#/components/headers/correlationId'
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/errorResponse_422'
        "503":
          description: Service Unavailable
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/HIP-originResponse'
components:
  schemas:
    EnumSortMAReceiptBy:
      enum:
        - NINO ASCENDING
        - NINO DESCENDING
        - DATE OF FINAL PAYMENT DESCENDING
        - DATE OF FINAL PAYMENT ASCENDING
      type: string
    correlationId:
      format: uuid
      description: Correlation ID - used for traceability purposes - note that this
        value in the response matches that received in the request to allow correlation.
      type: string
      example: e470d658-99f7-4292-a4a1-ed12c72f1337
    govUkOriginatorId:
      description: Identity of the Originating System that made the API call
      type: string
    govUkOrganisationId:
      description: A unique organisation ID for the user.
      type: string
      example: Department
    govUkUserId:
      description: A unique user ID for the user.
      maxLength: 7
      minLength: 7
      type: string
    govUkUserName:
      description: A unique username for the user.
      type: string
      example: Worker
    govUkJobRole:
      description: A unique job role for the user.
      type: string
      example: Social
    identifier:
      description: The identifier of which could be either a Temporary Reference Number
        (TRN) e.g. 00A00000 or a National Insurance Number (NINO) e.g. AA000001A.
      pattern: "^(((?:[ACEHJLMOPRSWXY][A-CEGHJ-NPR-TW-Z]|B[A-CEHJ-NPR-TW-Z]|G[ACEGHJ-NPR-TW-Z]|[KT][A-CEGHJ-MPR-TW-Z]|N[A-CEGHJL-NPR-SW-Z]|Z[A-CEGHJ-NPR-TW-Y])[0-9]{6}[A-D]?)|([0-9]{2}[A-Z]{1}[0-9]{5}))$"
      type: string
      example: AA000001A
    receivablePeriodStartDate:
      format: date
      description: The receivable period start date.
      type: string
      example: 2023-06-27
    receivablePeriodEndDate:
      format: date
      description: The receivable period end date.
      type: string
      example: 2023-06-27
    receivablePayment:
      description: The receivable payment of the receipt.
      multipleOf: 0.00010
      maximum: 99999999999999.98
      minimum: -99999999999999.98
      type: number
      example: 10.56
    receiptDate:
      format: date
      description: The receipt date.
      type: string
      example: 2023-06-27
    liabilityStartDate:
      format: date
      description: The liability type start date.
      type: string
      example: 2023-06-27
    liabilityEndDate:
      format: date
      description: The liability type end date.
      type: string
      example: 2023-06-27
    billAmount:
      description: Bill amount of the class 2 MA receipt
      multipleOf: 0.00010
      maximum: 99999999999999.98
      minimum: -99999999999999.98
      type: number
      example: 10.56
    billScheduleNumber:
      format: number
      description: Bill schedule number of the class 2 MA receipt
      type: integer
    isClosedRecord:
      description: Confirms if the receipt is a closed / paid receipt.
      type: boolean
    weeksPaid:
      description: A calculated number of weeks paid
      type: integer
    initials:
      description: The Initials of the customer.
      maxLength: 2
      minLength: 1
      pattern: "^([A-Za-z '-])+$"
      type: string
      example: JP
    surname:
      description: The surname of the individual.
      maxLength: 99
      minLength: 2
      pattern: "^([A-Za-z '-])+$"
      type: string
      example: van Cholmondley-warner
    errorResponse_400:
      title: Error Response
      description: Array of Error Response Failure Object in Error Response.
      type: object
      properties:
        failures:
          type: array
          items:
            $ref: '#/components/schemas/errorResourceObj_400'
    errorResourceObj_400:
      required:
        - code
        - reason
      type: object
      properties:
        reason:
          description: Displays the reason of the failure.
          maxLength: 128
          minLength: 1
          type: string
        code:
          description: |-
            The error code representing the error that has occurred. Valid values are
            400.1 - Constraint violation (Followed by 'Invalid/Missing input parameter path.to.field'
            400.2 - HTTP message not readable;
          enum:
            - "400.1"
            - "400.2"
          type: string
    errorResponse_403:
      title: Forbidden Error Response
      description: Error Response Payload for this API
      oneOf:
        - $ref: '#/components/schemas/errorResourceObj_403_Forbidden'
        - $ref: '#/components/schemas/errorResourceObj_403_UserNotAuthorised'
    errorResourceObj_403_Forbidden:
      title: 403_Forbidden
      required:
        - code
        - reason
      type: object
      properties:
        reason:
          description: Displays the reason of the failure.
          enum:
            - Forbidden
          type: string
        code:
          description: The error code representing the Forbidden Error.
          enum:
            - "403.2"
          type: string
    errorResourceObj_403_UserNotAuthorised:
      title: 403_UserNotAuthorised
      required:
        - code
        - reason
      type: object
      properties:
        reason:
          description: Displays the reason of the failure.
          enum:
            - User Not Authorised
          type: string
        code:
          description: User Not Authorised.
          enum:
            - "403.1"
          type: string
    errorResponse_422:
      title: Error Response
      description: Error Response Payload for this API
      type: object
      properties:
        failures:
          $ref: '#/components/schemas/errorResponseFailure_422'
    errorResponseFailure_422:
      title: Failure Object in Error Response
      description: Array of Error Response Failure Object in Error Response.
      type: array
      items:
        $ref: '#/components/schemas/errorResourceObj_422'
    errorResourceObj_422:
      required:
        - code
        - reason
      type: object
      properties:
        reason:
          description: Displays the reason of the failure.
          maxLength: 128
          minLength: 1
          type: string
        code:
          description: The error code representing the error that has occurred.
          maxLength: 10
          minLength: 1
          type: string
    Class2MAReceiptDetails:
      description: Contains MA Receipt details associated with an individual.
      type: object
      properties:
        initials:
          $ref: '#/components/schemas/initials'
        surname:
          $ref: '#/components/schemas/surname'
        receivablePeriodStartDate:
          $ref: '#/components/schemas/receivablePeriodStartDate'
        receivablePeriodEndDate:
          $ref: '#/components/schemas/receivablePeriodEndDate'
        receivablePayment:
          $ref: '#/components/schemas/receivablePayment'
        receiptDate:
          $ref: '#/components/schemas/receiptDate'
        liabilityStartDate:
          $ref: '#/components/schemas/liabilityStartDate'
        liabilityEndDate:
          $ref: '#/components/schemas/liabilityEndDate'
        billAmount:
          $ref: '#/components/schemas/billAmount'
        billScheduleNumber:
          $ref: '#/components/schemas/billScheduleNumber'
        isClosedRecord:
          $ref: '#/components/schemas/isClosedRecord'
        weeksPaid:
          $ref: '#/components/schemas/weeksPaid'
    GetClass2MAReceiptsResponse:
      description: Success response payload for this API.
      required:
        - identifier
        - class2MAReceiptDetails
      type: object
      properties:
        identifier:
          $ref: '#/components/schemas/identifier'
        class2MAReceiptDetails:
          description: Contains an array of Class 2 MA Receipt details.
          type: array
          items:
            $ref: '#/components/schemas/Class2MAReceiptDetails'
    HIP-originEnum:
      enum:
        - HIP
        - HoD
      type: string
    HIP-failureResponse:
      required:
        - failures
      type: object
      properties:
        failures:
          minItems: 1
          uniqueItems: true
          type: array
          items:
            required:
              - type
              - reason
            type: object
            properties:
              type:
                type: string
              reason:
                type: string
            additionalProperties: false
    HIP-originResponse:
      required:
        - origin
        - response
      type: object
      properties:
        origin:
          $ref: '#/components/schemas/HIP-originEnum'
        response:
          $ref: '#/components/schemas/HIP-failureResponse'
      additionalProperties: false
  responses:
    notFoundErrorResponse:
      description: The requested resource could not be found
      headers:
        correlationId:
          $ref: '#/components/headers/correlationId'
    internalServerErrorResponse:
      description: Internal Server Error
      headers:
        correlationId:
          $ref: '#/components/headers/correlationId'
  parameters:
    correlationId:
      name: correlationId
      in: header
      description: Correlation ID - used for traceability purposes - note that this
        value in the response matches that received in the request to allow correlation.
      required: true
      schema:
        $ref: '#/components/schemas/correlationId'
    govUkOriginatorId:
      name: gov-uk-originator-id
      in: header
      description: Identity of the Originating System that made the API call.
      required: true
      schema:
        $ref: '#/components/schemas/govUkOriginatorId'
    govUkOrganisationId:
      name: gov-uk-organisation-id
      in: header
      description: A unique organisation ID for the user.
      schema:
        $ref: '#/components/schemas/govUkOrganisationId'
    govUkUserId:
      name: gov-uk-user-id
      in: header
      description: A unique user ID for the user.
      required: false
      schema:
        $ref: '#/components/schemas/govUkUserId'
    govUkUserName:
      name: gov-uk-user-name
      in: header
      description: A unique username for the user.
      schema:
        $ref: '#/components/schemas/govUkUserName'
    govUkJobRole:
      name: gov-uk-job-role
      in: header
      description: A unique job role for the user.
      schema:
        $ref: '#/components/schemas/govUkJobRole'
    Identifier:
      name: identifier
      in: path
      description: The identifier of which could be either a Temporary Reference Number
        (TRN) or a National Insurance Number (NINO).
      required: true
      schema:
        $ref: '#/components/schemas/identifier'
    Archived:
      name: latest
      in: query
      description: Flag to determine if the consuming system wants to access archived/
        active class 2 MA receipts. Active records are those not closed by the customer.
      required: false
      schema:
        type: boolean
      example: true
    ReceiptDate:
      name: receiptDate
      in: query
      description: Filter by Receipt Date
      required: false
      schema:
        $ref: '#/components/schemas/receiptDate'
    SortBy:
      name: type
      in: query
      description: Capabilities of data sort.
      required: false
      schema:
        $ref: '#/components/schemas/EnumSortMAReceiptBy'
  headers:
    correlationId:
      required: true
      schema:
        $ref: '#/components/schemas/correlationId'
  securitySchemes:
    oAuth2:
      type: oauth2
      description: OAuth2 Client Credentials Flow
      flows:
        clientCredentials:
          tokenUrl: /tokenUrl/not-required
          scopes:
            read:class-2-ma-receipts: Class 2 MA Receipts
